%h1 #{@id} さんの情報

!= haml :_error, locals: {:error => @error}

%img{alt: "icon", height: "20", src: @image_path, width: "50", height: "50"}

%form.form-horizontal{:action => "/upload", :method => "post", :enctype => "multipart/form-data" }
  .control-group
    %label.control-label{:for => "file"} ファイル
    .controls
      - if @submit_enabled
        %input.btn.btn-lg{:name => "file", :type => "file", :value => "", :accept => "image/*"}
      - else
        %input.btn.btn-lg{:name => "file", :type => "file", :value => "", :accept => "image/*"}(disabled)
  .control-group
    .controls
      - if @submit_enabled
        %button.btn.btn-lg{:type => "submit"} アップロード
      - else
        %button.btn.btn-lg{:type => "submit"}(disabled) アップロード
