%html
  %head
    %meta(charaset='utf-8')
    %title アイコンアップローダー
    %link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
    %link(href='/css/signin.css' rel='stylesheet' type='text/css')
  %body
    .navbar.navbar-default
      %a.navbar-brand(href='/signin') アイコンアップローダー

    .container
      != yield
