!= haml :_error, locals: {error: @error}

%form.form-signin{:action => '/session', :method => 'post'}
  %h2.form-signin-heading ログイン
  %label.sr-only{:for => "id"} ID
  %input.form-control{:name => "id", :type => "text", :value => @id, :placeholder => 'ID'}( required autofocus )
  %label.sr-only{:for => "password"} Password
  %input.form-control{:name => "password", :type => "password", :value => "", :placeholder => 'PASSWORD'}( required )
  %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} ログイン
