%h1 ログイン

!= haml :_error, locals: {error: @error}

%form.form-horizontal{:action => '/session', :method => 'post'}
  .control-group
    %label.control-label{:for => "id"} ID
    .controls
      %input.span3{:name => "id", :type => "text", :value => @id}
  .control-group
    %label.control-label{:for => "password"} Password
    .controls
      %input.span3{:name => "password", :type => "password", :value => ""}
  .control-group
    .controls
      %input.btn{:type => "submit", :value => "ログイン"}
